$textColor: #00eaff;
$white: #fff;
$bgColor: #000824;

$colors: red,blue,green,yellow,black;
$lettersCount: 12;




*,*:before,*:after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    outline: none;
}
body{
    background-color: $bgColor;
    color: white;
}

.container{
    position: relative;
    margin: 0 auto;
    max-width: 1000px;
    border: 1px solid yellow;
    height: 100%;
}

svg{
    background-color: transparent ;
}