.main{
    overflow: hidden;
    margin-top: 40px;
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .global-text{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1000;
        opacity: .3;
        p{
            position: absolute;
            font-size: 600px;
            color: white;
            opacity: .1;
            font-weight: bold;
            left: 50%;
            transform: translateX(-50%);
        }
        p:first-child{
            top: 80px;
        }
        p:last-child{
            bottom: 80px;
        }
    
    }

    .left-aside,
    .right-aside{
        height: 400px;
        width: 100px;
        border: 1px solid red;
    }

    .left-aside{
        &>span{
            display: block;
            width: 40px;
            height: 40px;
            border: 1px solid $textColor;
            border-radius: 50%;
        }
    }
}